<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".obj" mimeType="application/octet-stream"/>
	  <mimeMap fileExtension=".tga" mimeType="application/tga"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>